<component name="libraryTable">
  <library name="Spring-4.0.5.RELEASE" type="spring">
    <properties version="4.0.5.RELEASE" />
    <CLASSES>
      <root url="jar://$USER_HOME$/resources/spring-instrument-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-instrument-tomcat-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-aspects-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-context-support-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-jdbc-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-expression-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-oxm-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-aop-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-jms-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/commons-logging-1.1.3.jar!/" />
      <root url="jar://$USER_HOME$/resources/aopalliance-1.0.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-beans-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-messaging-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-tx-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-orm-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-test-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-core-4.0.5.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/resources/spring-context-4.0.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>